openapi: "3.0.0"
info:
  version: 1.0.0
  title: Transferwise
  license:
    name: MIT
servers:
  - url: https://api.sandbox.transferwise.tech/v1/
paths:
  /transfers/{transferId}:
    get:
      summary: Get a specific transfer
      operationId: getTransferById
      parameters:
        - name: transferId
          in: path
          required: true
          description: The id of the transfer to retrieve
          schema:
            type: number
            format: int64
      responses:
        "200":
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Resource:
      type: object
      properties:
        id:
          type: number
          format: int64
        profile_id:
          type: number
          format: int64
        account_id:
          type: number
          format: int64
        type:
          type: string
          enum: ["transfer"]
    StateChange:
      type: object
      required:
        - current_state
        - resource
        - occured_at
      properties:
        current_state:
          type: string
        resource:
          $ref: "#/components/schemas/Resource"
        occured_at:
          type: string
          format: date-time
    Transfer:
      type: object
      required:
        - id
        - user
        - sourceAccount
        - targetAccount
        - status
        - reference
        - sourceValue
        - sourceCurrency
        - targetValue
        - targetCurrency
      properties:
        id:
          type: integer
          format: int64
        user:
          type: integer
          format: int64
        targetAccount:
          type: integer
          format: int64
        sourceAccount:
          type: integer
          format: int64
          nullable: true
        status:
          type: string
          enum:
          - processing
          - waiting_recipient_input_to_proceed
          - incoming_payment_waitin
        reference:
          type: string
        sourceValue:
          type: number
        sourceCurrency:
          type: string
        targetValue:
          type: number
        targetCurrency:
          type: string
    Transfers:
      type: array
      items:
        $ref: "#/components/schemas/Transfer"
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
  securitySchemes:
    bearerAuth:
      type: apiKey
      in: header
      name: Authorization
security:
  - bearerAuth: []
